
## <summary>policy for hotchain</summary>


########################################
## <summary>
##	Transition to hotchain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`hotchain_domtrans',`
	gen_require(`
		type hotchain_t, hotchain_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, hotchain_exec_t, hotchain_t)
')


########################################
## <summary>
##	Execute hotchain server in the hotchain domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hotchain_initrc_domtrans',`
	gen_require(`
		type hotchain_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, hotchain_initrc_exec_t)
')


########################################
## <summary>
##	Search hotchain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hotchain_search_lib',`
	gen_require(`
		type hotchain_var_lib_t;
	')

	allow $1 hotchain_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read hotchain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hotchain_read_lib_files',`
	gen_require(`
		type hotchain_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, hotchain_var_lib_t, hotchain_var_lib_t)
')

########################################
## <summary>
##	Manage hotchain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hotchain_manage_lib_files',`
	gen_require(`
		type hotchain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, hotchain_var_lib_t, hotchain_var_lib_t)
')

########################################
## <summary>
##	Manage hotchain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hotchain_manage_lib_dirs',`
	gen_require(`
		type hotchain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, hotchain_var_lib_t, hotchain_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a hotchain environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`hotchain_admin',`
	gen_require(`
		type hotchain_t;
		type hotchain_initrc_exec_t;
		type hotchain_var_lib_t;
	')

	allow $1 hotchain_t:process { ptrace signal_perms };
	ps_process_pattern($1, hotchain_t)

	hotchain_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 hotchain_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, hotchain_var_lib_t)

')

